<div class="table-responsive mt-5">
  <table class="table table-bordered table-hover table-striped align-middle shadow rounded-4 overflow-hidden mb-4" @fadeIn>
    <thead>
      <tr class="cv-table-header">
        <th scope="col" class="text-center">Date</th>
        <th scope="col" class="text-center">Nom de fichier</th>
        <th scope="col" class="text-center">Type de fichier</th>
        <th scope="col" class="text-center">Fiche candidat</th>
      </tr>
    </thead>
    <tbody [@fadeInPage]="currentPage">
      <tr *ngFor="let cv of paginatedCvFileList">
        <td class="text-center">{{ cv.addedDate }}</td>
        <td class="text-center">
          <a (click)="onShowFilePopUpClicked()">
            {{ cv.fileName }}
          </a>
        </td>
        <td class="text-center">{{ cv.fileType }}</td>
        <td class="text-center">
          <div class="d-flex justify-content-center align-items-center">
            <!-- <button class="btn btn-sm btn-primary custom-download-btn">Afficher fichier candidat</button> -->
            <app-primary-button-component (click)="onShowStructuredCvFormClicked()" icon="bi bi-list-ol" label="Afficher fichier candidat"></app-primary-button-component>
            <!-- <button class="btn btn-sm btn-danger ms-2">Delete</button> -->
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
    <!-- Pagination -->
    <nav aria-label="CVs pagination">
      <ul class="pagination justify-content-center">
        <li class="page-item" [class.disabled]="currentPage === 1">
          <a class="page-link" href="#" (click)="goToPage(currentPage - 1); $event.preventDefault();">Previous</a>
        </li>
        <ng-container *ngIf="totalPages <= 2">
          <li
            class="page-item"
            *ngFor="let page of [].constructor(totalPages); let i = index"
            [class.active]="currentPage === i + 1"
          >
            <a class="page-link" href="#" (click)="goToPage(i + 1); $event.preventDefault();">{{ i + 1 }}</a>
          </li>
        </ng-container>
        <ng-container *ngIf="totalPages > 10">
          <li class="page-item" [class.active]="currentPage === 1">
            <a class="page-link" href="#" (click)="goToPage(1); $event.preventDefault();">1</a>
          </li>
          <li class="page-item" *ngIf="currentPage > 5"><span class="page-link">...</span></li>
          <ng-container *ngFor="let page of [].constructor(totalPages - 2); let i = index">
            <li
              class="page-item"
              *ngIf="i + 2 >= currentPage - 2 && i + 2 <= currentPage + 2"
              [class.active]="currentPage === i + 2"
            >
              <a class="page-link" href="#" (click)="goToPage(i + 2); $event.preventDefault();">{{ i + 2 }}</a>
            </li>
          </ng-container>
          <li class="page-item" *ngIf="currentPage < totalPages - 4"><span class="page-link">...</span></li>
          <li class="page-item" [class.active]="currentPage === totalPages">
            <a class="page-link" href="#" (click)="goToPage(totalPages); $event.preventDefault();">{{ totalPages }}</a>
          </li>
        </ng-container>
        <li class="page-item" [class.disabled]="currentPage === totalPages">
          <a class="page-link" href="#" (click)="goToPage(currentPage + 1); $event.preventDefault();">Next</a>
        </li>
      </ul>
    </nav>