.table-section {
  padding: 2rem;
  max-width: 1200px;
  margin: auto;
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.cv-actions {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1.5rem;
    flex-grow: 1;
    flex-basis: 0; 
}

app-multi-step-form {
  animation: slideIn 0.5s ease forwards;
  margin-top: 2rem;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}


.main-container {
    height: 100%;
    width: 100%;
  flex-grow: 1;
  min-height: 10;
  display: relative;
  flex-direction: column;
  color: white;
  flex-grow: 1;
  flex-basis: 0; 
}