<div class="mb-4">
  <h3 class="fw-bold mb-0">Information Personnelle</h3>
</div>
<form class="container-fluid px-0">
  <div class="row mb-3">
    <div class="col-12 col-md-6 mb-3">
      <label class="form-label">Nom Complet</label>
      <input type="text" class="form-control" [value]="data?.name" readonly />
    </div>
    <div class="col-12 col-md-6 mb-3">
      <label class="form-label">Profil</label>
      <input type="text" class="form-control" [value]="data?.profil" readonly />
    </div>
    <div class="col-12 mb-3">
      <label class="form-label">Adresse</label>
      <input type="text" class="form-control" [value]="data?.adresse" readonly />
    </div>
  </div>
</form>
