<div class="position-fixed bottom-0 start-0 p-3" style="z-index:2000; min-width:320px; max-width:400px;">
  <ng-container *ngFor="let toast of toasts">
    <app-toast-component
      [color]="toast.color"
      [message]="toast.message"
      (animationDone)="onToastDone(toast.id)"
    ></app-toast-component>
  </ng-container>
</div>
<div class="main-container d-flex flex-column flex-grow-1 mt-5" @fadeIn>
  <div class="table-responsive px-2 px-md-4 pt-3 pt-md-4 pb-2 mx-3 mx-md-5">
    <div class="d-flex flex-column flex-sm-row justify-content-sm-end align-items-stretch align-items-sm-center gap-2 mb-2 mx-3 mx-md-5" style="min-height:48px;">
      <app-primary-button-component label="Prompt" icon="bi bi-briefcase" (click)="openPromptModal()"></app-primary-button-component>
      <app-primary-button-component label="Télécharger fiche de poste" icon="bi bi-briefcase" (click)="openUploadModal()"></app-primary-button-component>
      <ng-container *ngIf="showUploadModal">
        <div class="modal-backdrop fade show" style="z-index:1040;"></div>
        <div class="position-fixed top-0 start-0 w-100 h-100 d-flex align-items-center justify-content-center" style="z-index:1050;">
          <app-upload-files-component [allowMultiple]="false" (closed)="closeUploadModal()"></app-upload-files-component>
        </div>
      </ng-container>
      <ng-container *ngIf="showPromptModal">
        <div class="modal-backdrop fade show" style="z-index:1040;"></div>
        <div class="position-fixed top-0 start-0 w-100 h-100 d-flex align-items-center justify-content-center" style="z-index:1050;">
          <ng-container *ngIf="promptLoading">
            <app-loader-component [loaderMessage]="'Envoi du prompt...'" ></app-loader-component>
          </ng-container>
          <ng-container *ngIf="!promptLoading">
            <app-prompt-component (closed)="closePromptModal()" (promptSent)="handlePromptSent($event)"></app-prompt-component>
          </ng-container>
        </div>
      </ng-container>
      <ng-container *ngIf="showShowPromptModal">
        <div class="modal-backdrop fade show" style="z-index:1040;"></div>
        <div class="position-fixed top-0 start-0 w-100 h-100 d-flex align-items-center justify-content-center" style="z-index:1050;">
          <app-show-prompt-component [promptText]="showPromptContent" (closed)="closeShowPromptModal()"></app-show-prompt-component>
        </div>
      </ng-container>
      <ng-container *ngIf="showFilePopUpModal">
        <div class="modal-backdrop fade show" style="z-index:1040;"></div>
        <div class="position-fixed top-0 start-0 w-100 h-100 d-flex align-items-center justify-content-center" style="z-index:1050;">
          <ng-container *ngIf="filePopUpLoading">
            <app-loader-component [loaderMessage]="'Chargement du fichier...'" ></app-loader-component>
          </ng-container>
          <ng-container *ngIf="!filePopUpLoading && filePopUpUrl">
            <app-file-pop-up-component
              [fileUrl]="filePopUpUrl"
              [fileType]="filePopUpType"
              [fileName]="filePopUpName"
              [fileBytes]="filePopUpBytes"
              (closed)="closeFilePopUpModal()"
            ></app-file-pop-up-component>
          </ng-container>
        </div>
      </ng-container>
    </div>
    <app-job-description-table-component 
      [jobDescriptionFileList]="jobDescriptionsFileList"
      [currentPage]="currentPage + 1"
      [totalPages]="totalPages"
      (pageChange)="onTablePageChange($event)"
      (filePopUpClicked)="openFilePopUpModal($event)"></app-job-description-table-component>
    <ng-container *ngIf="loading">
      <app-loader-component [loaderMessage]="'Chargement des fiches de poste...'"></app-loader-component>
    </ng-container>
  </div>
</div>